{
  "log": {
    "_recordingName": "fetch-users",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "9031dcb9123f11cde8ef8d8a3dd66956",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "x-dc-devkey",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://www.digicert.com/services/v2/account"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 408,
            "text": "{\"id\":1696530,\"primary_organization_id\":1850242,\"primary_organization_name\":\"TNL Software\",\"primary_organization_country\":\"ar\",\"make_renewal_calls\":true,\"express_install_enabled\":false,\"display_rep\":true,\"rep_photo_id\":0,\"balance_negative_limit\":0,\"root_container_id\":634763,\"cert_transparency\":\"embed\",\"cert_central_type\":\"retail\",\"billing_account_id\":1696530,\"billing_account_name\":\"TNL Software\",\"language_id\":1,\"migrated\":false,\"has_auth_key\":false,\"client_mgr_photo_id\":0,\"ent_support_plan\":\"1\",\"default_country\":\"ar\"}"
          },
            {
              "domain": ".digicert.com",
              "name": "nlbi_1323850",
              "path": "/",
              "sameSite": "None",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "domain": ".digicert.com",
              "name": "incap_ses_1207_1323850",
              "path": "/",
              "sameSite": "None",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "last-modified",
              "value": "Fri, 13 Oct 2023 16:00:13 GMT"
            },
            {
              "name": "etag",
              "value": "W/\"3b8e715fc2bf7641a62d47b027b48179\""
            },
            {
              "name": "x-cdn",
              "value": "Imperva"
            },
            {
              "name": "x-iinfo",
              "value": "13-17265042-17265053 NNNN CT(157 319 0) RT(1697212812971 24) q(0 1 5 -1) r(8 8) U12"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 795,
      },
      {
        "_id": "70ca37b1c44127298b492085c0fc064a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "x-dc-devkey",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "offset",
              "value": "0"
            },
            {
              "name": "limit",
              "value": "500"
            }
          ],
          "url": "https://www.digicert.com/services/v2/user?offset=0&limit=500"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1584,
            "text": "{\"users\":[{\"id\":2700762,\"username\":\"gaston.yelmini@contractor.jupiterone.com\",\"account_id\":1696530,\"first_name\":\"Gaston\",\"last_name\":\"Yelmini\",\"email\":\"gaston.yelmini@contractor.jupiterone.com\",\"job_title\":\"Software Engineer\",\"telephone\":\"+542994674262\",\"status\":\"active\",\"last_login_date\":\"2023-10-13T15:15:13+00:00\",\"container\":{\"id\":634763,\"public_id\":\"0dkr7qdwt8l8x1pjnstm83yq4cfr2nmk\",\"name\":\"TNL Software\",\"parent_id\":0,\"template_id\":5,\"ekey\":\"2k4m6vrjwd0lwqbyw0hh2c270s8w\",\"has_logo\":false,\"is_active\":true},\"access_roles\":[{\"id\":1,\"name\":\"Administrator\"}],\"type\":\"standard\",\"has_container_assignments\":false},{\"id\":2701143,\"username\":\"gastonyelmini@gmail.com\",\"account_id\":1696530,\"first_name\":\"Gaston\",\"last_name\":\"Yelmini\",\"email\":\"gastonyelmini@gmail.com\",\"status\":\"active\",\"container\":{\"id\":634763,\"public_id\":\"0dkr7qdwt8l8x1pjnstm83yq4cfr2nmk\",\"name\":\"TNL Software\",\"parent_id\":0,\"template_id\":5,\"ekey\":\"2k4m6vrjwd0lwqbyw0hh2c270s8w\",\"has_logo\":false,\"is_active\":true},\"access_roles\":[{\"id\":3,\"name\":\"Finance Manager\"}],\"type\":\"standard\",\"has_container_assignments\":false},{\"id\":2701144,\"username\":\"gaston@howdy.com\",\"account_id\":1696530,\"first_name\":\"Gaston\",\"last_name\":\"Yelmini\",\"email\":\"gaston@howdy.com\",\"status\":\"active\",\"container\":{\"id\":634763,\"public_id\":\"0dkr7qdwt8l8x1pjnstm83yq4cfr2nmk\",\"name\":\"TNL Software\",\"parent_id\":0,\"template_id\":5,\"ekey\":\"2k4m6vrjwd0lwqbyw0hh2c270s8w\",\"has_logo\":false,\"is_active\":true},\"access_roles\":[{\"id\":3,\"name\":\"Finance Manager\"}],\"type\":\"standard\",\"has_container_assignments\":false}],\"page\":{\"total\":3,\"limit\":500,\"offset\":0}}"
          },
            {
              "domain": ".digicert.com",
              "name": "nlbi_1323850",
              "path": "/",
              "sameSite": "None",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "domain": ".digicert.com",
              "name": "incap_ses_1207_1323850",
              "path": "/",
              "sameSite": "None",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "last-modified",
              "value": "Fri, 13 Oct 2023 16:00:14 GMT"
            },
            {
              "name": "etag",
              "value": "\"10806456523e9bc8997782e41da876c3\""
            },
            {
              "name": "x-cdn",
              "value": "Imperva"
            },
            {
              "name": "x-iinfo",
              "value": "8-3439795-3439798 NNNN CT(157 320 0) RT(1697212813775 18) q(0 1 5 -1) r(9 9) U12"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 897,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
