{
  "log": {
    "_recordingName": "fetch-users",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "b84fffdaed66cd408e375b352f5b7e57",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "x-dc-devkey",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "offset",
              "value": "0"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ],
          "url": "https://www.digicert.com/services/v2/user?offset=0&limit=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 579,
            "text": "{\"users\":[{\"id\":2700762,\"username\":\"gaston.yelmini@contractor.jupiterone.com\",\"account_id\":1696530,\"first_name\":\"Gaston\",\"last_name\":\"Yelmini\",\"email\":\"gaston.yelmini@contractor.jupiterone.com\",\"job_title\":\"Software Engineer\",\"telephone\":\"+542994674262\",\"status\":\"active\",\"last_login_date\":\"2023-10-12T19:26:25+00:00\",\"container\":{\"id\":634763,\"public_id\":\"0dkr7qdwt8l8x1pjnstm83yq4cfr2nmk\",\"name\":\"TNL Software\",\"parent_id\":0,\"template_id\":5,\"ekey\":\"2k4m6vrjwd0lwqbyw0hh2c270s8w\",\"has_logo\":false,\"is_active\":true},\"access_roles\":[{\"id\":1,\"name\":\"Administrator\"}],\"type\":\"standard\",\"has_container_assignments\":false}],\"page\":{\"total\":3,\"limit\":1,\"offset\":0}}"
          },
            {
              "domain": ".digicert.com",
              "name": "nlbi_1323850",
              "path": "/",
              "sameSite": "None",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "domain": ".digicert.com",
              "name": "incap_ses_1207_1323850",
              "path": "/",
              "sameSite": "None",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "last-modified",
              "value": "Fri, 13 Oct 2023 13:16:27 GMT"
            },
            {
              "name": "etag",
              "value": "W/\"adfb0ae85e9223372ff6b817a5b2db4c\""
            },
            {
              "name": "x-cdn",
              "value": "Imperva"
            },
            {
              "name": "x-iinfo",
              "value": "7-8498184-8498196 NNNN CT(156 318 0) RT(1697202987420 50) q(0 1 5 -1) r(8 8) U12"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 924,
      },
      {
        "_id": "321f0800da269d08110501f519003a23",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "x-dc-devkey",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "offset",
              "value": "1"
            },
            {
              "name": "limit",
              "value": "1"
            }
    [...]
