{
  "log": {
    "_recordingName": "validate-invocation",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "9031dcb9123f11cde8ef8d8a3dd66956",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "x-dc-devkey",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://www.digicert.com/services/v2/account"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 408,
            "text": "{\"id\":1696530,\"primary_organization_id\":1850242,\"primary_organization_name\":\"TNL Software\",\"primary_organization_country\":\"ar\",\"make_renewal_calls\":true,\"express_install_enabled\":false,\"display_rep\":true,\"rep_photo_id\":0,\"balance_negative_limit\":0,\"root_container_id\":634763,\"cert_transparency\":\"embed\",\"cert_central_type\":\"retail\",\"billing_account_id\":1696530,\"billing_account_name\":\"TNL Software\",\"language_id\":1,\"migrated\":false,\"has_auth_key\":false,\"client_mgr_photo_id\":0,\"ent_support_plan\":\"1\",\"default_country\":\"ar\"}"
          },
            {
              "domain": ".digicert.com",
              "name": "nlbi_1323850",
              "path": "/",
              "sameSite": "None",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "domain": ".digicert.com",
              "name": "incap_ses_1207_1323850",
              "path": "/",
              "sameSite": "None",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "last-modified",
              "value": "Fri, 13 Oct 2023 15:29:46 GMT"
            },
            {
              "name": "etag",
              "value": "W/\"3b8e715fc2bf7641a62d47b027b48179\""
            },
            {
              "name": "x-cdn",
              "value": "Imperva"
            },
            {
              "name": "x-iinfo",
              "value": "4-9120021-9120022 NNNN CT(165 175 0) RT(1697210986448 24) q(0 1 4 -1) r(6 6) U12"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 676,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
