{
  "log": {
    "_recordingName": "account",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.0.4"
    },
    "entries": [
      {
        "_id": "9031dcb9123f11cde8ef8d8a3dd66956",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "x-dc-devkey",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://www.digicert.com/services/v2/account"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 400,
            "text": "{\"id\":1449471,\"primary_organization_name\":\"Erkang, LLC\",\"primary_organization_country\":\"us\",\"make_renewal_calls\":true,\"express_install_enabled\":false,\"display_rep\":true,\"balance_negative_limit\":0,\"root_container_id\":357777,\"cert_transparency\":\"embed\",\"cert_central_type\":\"retail\",\"billing_account_id\":1449471,\"billing_account_name\":\"Erkang, LLC\",\"language_id\":1,\"migrated\":false,\"has_auth_key\":false}"
          },
            {
              "domain": ".digicert.com",
              "name": "incap_ses_480_1323850",
              "path": "/",
              "sameSite": "None",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "last-modified",
              "value": "Sun, 26 Apr 2020 17:16:58 GMT"
            },
            {
              "name": "etag",
              "value": "\"306e43cace2b5331c8feda996b5d9eb4\""
            },
            {
              "name": "x-cdn",
              "value": "Incapsula"
            },
            {
              "name": "x-iinfo",
              "value": "4-61770492-61770533 NNNN CT(57 123 0) RT(1587921417873 162) q(0 0 2 -1) r(2 2) U5"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 530,
      },
      {
        "_id": "f16eacfc3efa9540dae896f093c06b96",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "x-dc-devkey",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://www.digicert.com/services/v2/order/certificate"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 44,
            "text": "{\"page\":{\"total\":0,\"limit\":1000,\"offset\":0}}"
          },
            {
              "domain": ".digicert.com",
              "name": "incap_ses_480_1323850",
              "path": "/",
              "sameSite": "None",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "last-modified",
              "value": "Sun, 26 Apr 2020 [...]
