{
  "log": {
    "_recordingName": "domains",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.0.4"
    },
    "entries": [
      {
        "_id": "9031dcb9123f11cde8ef8d8a3dd66956",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "x-dc-devkey",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://www.digicert.com/services/v2/account"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 400,
            "text": "{\"id\":1449471,\"primary_organization_name\":\"Erkang, LLC\",\"primary_organization_country\":\"us\",\"make_renewal_calls\":true,\"express_install_enabled\":false,\"display_rep\":true,\"balance_negative_limit\":0,\"root_container_id\":357777,\"cert_transparency\":\"embed\",\"cert_central_type\":\"retail\",\"billing_account_id\":1449471,\"billing_account_name\":\"Erkang, LLC\",\"language_id\":1,\"migrated\":false,\"has_auth_key\":false}"
          },
            {
              "domain": ".digicert.com",
              "name": "incap_ses_480_1323850",
              "path": "/",
              "sameSite": "None",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "last-modified",
              "value": "Sun, 26 Apr 2020 16:07:32 GMT"
            },
            {
              "name": "etag",
              "value": "\"306e43cace2b5331c8feda996b5d9eb4\""
            },
            {
              "name": "x-cdn",
              "value": "Incapsula"
            },
            {
              "name": "x-iinfo",
              "value": "3-55921338-55921348 NNNN CT(61 128 0) RT(1587917252596 103) q(0 0 1 1) r(2 2) U5"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 584,
      },
      {
        "_id": "0b7e3ce40d360c88ee4484b0075f8dc4",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "x-dc-devkey",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "includeValidation",
              "value": "true"
            }
          ],
          "url": "https://www.digicert.com/services/v2/domain?includeValidation=true"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 778,
            "text": "{\"domains\":[{\"id\":1587137,\"is_active\":true,\"name\":\"erkang.com\",\"date_created\":\"2020-04-26T15:32:47+00:00\",\"organization\":{\"id\":894410,\"status\":\"active\",\"name\":\"Erkang, LLC\",\"display_name\":\"Erkang, LLC\",\"is_active\":\"1\"},\"validations\":[{\"type\":\"ev\",\"name\":\"EV\",\"description\":\"Extended Organization Validation (EV)\",\"date_created\":\"2020-04-26T15:47:31+00:00\",\"validated_until\":\"2021-05-21T06:00:00+00:00\",\"status\":\"active\"},{\"type\":\"ov\",\"name\":\"OV\",\"description\":\"Normal Organization Validation\",\"date_created\":\"2020-04-26T15:47:31+00:00\",\"validated_until\":\"2022-07-30T06:00:00+00:00\",\"status\":\"active\"}],\"dcv_method\":\"dns-txt-token\",\"dcv_expiration\":{\"ev\":\"2021-05-21\",\"ov\":\"2022-07-30\"},\"container\":{\"id\":357777,\"name\":\"Erkang, LLC\"}}],\"page\":{\"total\":1,\"limit\":1000,\"offset\":0}}"
          },
            {
              "domain": ".digicert.com",
              "name": "incap_ses_480_1323850",
              "path": "/",
              "sameSite": "None",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "last-modified",
              "value": "Sun, 26 Apr 2020 16:07:33 GMT"
            },
            {
              "name": "etag",
              "value": "\"6d9f389ae49b4961e288391203a01934\""
            },
            {
              "name": "x-cdn",
              "value": "Incapsula"
            },
            {
              "name": "x-iinfo",
              "value": "8-60073588-60073591 NNNN CT(56 63 0) RT(1587917253121 26) q(0 0 1 1) r(2 2) U5"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 275,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
