{
  "log": {
    "_recordingName": "domains",
    "creator": {
      "comment": "persister:TrendMicroFSPersister",
      "name": "Polly.JS",
      "version": "4.0.4"
    },
    "entries": [
      {
        "_id": "f945d04a79373ecff820c25238efbc25",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "x-dc-devkey",
              "value": "BMWNVTSDAHW4WPMRHTHN42GYMVJBDDAS4UF7TCW2LZDKBE24IOLZSWLEZIB2YJACQI2P2L5Y3PGPPH77T"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "includeValidation",
              "value": "true"
            }
          ],
          "url": "https://www.digicert.com/services/v2/domain?includeValidation=true"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 803,
            "text": "{\"domains\":[{\"id\":1564602,\"is_active\":true,\"name\":\"test.com\",\"date_created\":\"2020-04-20T19:53:22+00:00\",\"organization\":{\"id\":887858,\"status\":\"active\",\"name\":\"Test Company\",\"display_name\":\"Test Company\",\"is_active\":\"1\"},\"validations\":[{\"type\":\"ev\",\"name\":\"EV\",\"description\":\"Extended Organization Validation (EV)\",\"date_created\":\"2020-04-20T20:13:35+00:00\",\"validated_until\":\"2021-05-15T06:00:00+00:00\",\"status\":\"active\"},{\"type\":\"ov\",\"name\":\"OV\",\"description\":\"Normal Organization Validation\",\"date_created\":\"2020-04-20T20:13:35+00:00\",\"validated_until\":\"2022-07-24T06:00:00+00:00\",\"status\":\"active\"}],\"dcv_method\":\"email\",\"dcv_expiration\":{\"ev\":\"2021-05-15\",\"ov\":\"2022-07-24\"},\"container\":{\"id\":353482,\"name\":\"Test Company\"}}],\"page\":{\"total\":1,\"limit\":1000,\"offset\":0}}"
          },
            {
              "domain": ".digicert.com",
              "name": "incap_ses_84_1323850",
              "path": "/",
              "sameSite": "None",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "last-modified",
              "value": "Mon, 20 Apr 2020 21:48:51 GMT"
            },
            {
              "name": "etag",
              "value": "\"0d9b64188b4bd6e183336987f00e6fdc\""
            },
            {
              "name": "x-cdn",
              "value": "Incapsula"
            },
            {
              "name": "x-iinfo",
              "value": "1-56807593-56807597 NNNN CT(37 25 0) RT(1587419331771 45) q(0 0 0 -1) r(1 1) U5"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 312,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
