{
  "log": {
    "_recordingName": "client-secret-auth-error",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "9031dcb9123f11cde8ef8d8a3dd66956",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "x-dc-devkey",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://www.digicert.com/services/v2/account"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 123,
            "text": "{\"errors\":[{\"code\":\"access_denied|access_denied_invalid_key\",\"message\":\"Access denied due to access_denied_invalid_key.\"}]}"
          },
            {
              "domain": ".digicert.com",
              "name": "nlbi_1323850",
              "path": "/",
              "sameSite": "None",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "domain": ".digicert.com",
              "name": "incap_ses_1207_1323850",
              "path": "/",
              "sameSite": "None",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "last-modified",
              "value": "Fri, 13 Oct 2023 15:28:40 GMT"
            },
            {
              "name": "x-cdn",
              "value": "Imperva"
            },
            {
              "name": "x-iinfo",
              "value": "5-12970866-12970871 NNNN CT(165 166 0) RT(1697210920184 16) q(0 0 3 -1) r(9 9) U12"
            }
          ],
          "status": 403,
          "statusText": "Forbidden"
        },
        "time": 983,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
